In [28]:
import collections
import json
import os

import _jsonnet

from seq2struct.utils import registry
from seq2struct import grammars
from seq2struct import datasets

In [22]:
os.chdir('..')
config = json.loads(_jsonnet.evaluate_file('configs/spider-20190205/arxiv-1906.11790v1.jsonnet'))

In [31]:
train_data = registry.construct('dataset', config['data']['train'])
val_data = registry.construct('dataset', config['data']['val'])
grammar = grammars.spider.SpiderLanguage(output_from=True)

In [89]:
def find_columns(query, include_from=False):
    result = set()
    
    queue = collections.deque([query])
    while queue:
        node = queue.popleft()
        type_info = grammar.ast_wrapper.singular_types[node['_type']]
        for field in type_info.fields:
            if not include_from and field.name == 'from':
                continue
            if field.name not in node:
                continue

            v = node[field.name]
            if isinstance(v, dict):
                queue.append(v)
            elif isinstance(v, list):
                queue.extend(v)
            
            if field.type == 'column':
                result.add(v)
    
    return result

def group_by_schema(data):
    result = collections.defaultdict(list)
    for example in data:
        result[example.schema.db_id].append(example)
    return result

def analyze(data):
    grouped = collections.defaultdict(list)
    grouped_column_usage = collections.defaultdict(list)
    for example in data:
        grouped[example.schema.db_id].append(example)
        grouped_column_usage[example.schema.db_id].append(find_columns(grammar.parse(example.code, 'train')))
    
    for db_id, column_usages in sorted(grouped_column_usage.items()):
        examples = grouped[db_id]
        schema = data.schemas[db_id]
        num_columns = len(schema.columns)
        all_columns = set(range(num_columns))
        used_columns = set.union(*column_usages)
        assert used_columns <= all_columns
        unused_columns = all_columns - used_columns
        
        # Group by query
        grouped_by_query = collections.defaultdict(list)
        for i, example in enumerate(examples):
            grouped_by_query[example.orig['query']].append(i)
        
        # For each group, see which columns were used in other queries
        all_example_indices = set(range(len(examples)))
        groups_with_misses = {}
        for query, query_group_indices in grouped_by_query.items():
            other_indices = all_example_indices - set(query_group_indices)
            other_used_columns = set.union(*(column_usages[:i] + column_usages[i+1:]))
            missing_columns = column_usages[query_group_indices[0]] - other_used_columns

            if missing_columns:
                groups_with_misses[query] = missing_columns
        
        print('{}: {} examples, {} columns, {} unused by any query; {} examples with missing columns'.format(
            db_id, len(column_usages), num_columns, len(unused_columns), len(groups_with_misses)))
        if groups_with_misses:
            print('======================')
            for query, missing_columns in groups_with_misses.items():
                print('- Query: {}'.format(query))
                print('- Questions:')
                for i in grouped_by_query[query]:
                    print('  - {}'.format(' '.join(examples[i].text)))
                print('- Missing columns: {}'.format(
                    ', '.join(
                        '{}.{}'.format(schema.columns[i].table.name, schema.columns[i].name)
                        for i in sorted(missing_columns))))

In [90]:
analyze(train_data)

academic: 181 examples, 43 columns, 27 unused by any query; 0 examples with missing columns
activity_1: 88 examples, 23 columns, 5 unused by any query; 0 examples with missing columns
aircraft: 46 examples, 29 columns, 13 unused by any query; 0 examples with missing columns
allergy_1: 98 examples, 13 columns, 0 unused by any query; 0 examples with missing columns
apartment_rentals: 80 examples, 32 columns, 9 unused by any query; 0 examples with missing columns
architecture: 17 examples, 18 columns, 4 unused by any query; 0 examples with missing columns
assets_maintenance: 31 examples, 65 columns, 33 unused by any query; 1 examples with missing columns
======================
- Query: SELECT asset_model FROM Assets WHERE asset_id NOT IN (SELECT asset_id FROM Fault_Log)
- Questions:
  - Which assets did not incur any fault log ? List the asset model .
- Missing columns: ['fault', 'log'].['asset', 'id']
baseball_1: 82 examples, 353 columns, 321 unused by any query; 0 examples with missing columns
behavior_monitoring: 40 examples, 65 columns, 31 unused by any query; 0 examples with missing columns
bike_1: 104 examples, 47 columns, 14 unused by any query; 0 examples with missing columns
body_builder: 24 examples, 12 columns, 1 unused by any query; 0 examples with missing columns
book_2: 21 examples, 10 columns, 1 unused by any query; 0 examples with missing columns
browser_web: 18 examples, 12 columns, 1 unused by any query; 0 examples with missing columns
candidate_poll: 40 examples, 15 columns, 1 unused by any query; 0 examples with missing columns
chinook_1: 84 examples, 65 columns, 36 unused by any query; 0 examples with missing columns
cinema: 30 examples, 18 columns, 5 unused by any query; 0 examples with missing columns
city_record: 40 examples, 28 columns, 12 unused by any query; 0 examples with missing columns
climbing: 40 examples, 13 columns, 1 unused by any query; 0 examples with missing columns
club_1: 70 examples, 16 columns, 4 unused by any query; 0 examples with missing columns
coffee_shop: 18 examples, 20 columns, 6 unused by any query; 0 examples with missing columns
college_1: 164 examples, 44 columns, 13 unused by any query; 0 examples with missing columns
college_2: 170 examples, 47 columns, 11 unused by any query; 0 examples with missing columns
college_3: 74 examples, 40 columns, 11 unused by any query; 0 examples with missing columns
company_1: 7 examples, 29 columns, 16 unused by any query; 1 examples with missing columns
======================
- Query: SELECT fname ,  lname ,  address FROM employee ORDER BY Bdate
- Questions:
  - list the first and last names , and the addresses of all employees in the ascending order of their birth date .
- Missing columns: ['employee'].['birth', 'date'], ['employee'].['address']
company_employee: 16 examples, 17 columns, 6 unused by any query; 1 examples with missing columns
======================
- Query: SELECT name FROM company WHERE Sales_in_Billion  >  200 ORDER BY Sales_in_Billion ,  Profits_in_Billion DESC
- Questions:
  - list the names of the companies with more than 200 sales in the descending order of sales and profits .
- Missing columns: ['company'].['profits', 'in', 'billion']
company_office: 40 examples, 18 columns, 4 unused by any query; 0 examples with missing columns
county_public_safety: 40 examples, 19 columns, 5 unused by any query; 0 examples with missing columns
cre_Doc_Control_Systems: 33 examples, 36 columns, 9 unused by any query; 1 examples with missing columns
======================
- Query: SELECT document_id ,  count(DISTINCT employee_id) FROM Circulation_History GROUP BY document_id;
- Questions:
  - For each document , list the number of employees who have showed up in the circulation history of that document . List the document ids and number of employees .
- Missing columns: ['circulation', 'history'].['employee', 'id']
cre_Doc_Tracking_DB: 90 examples, 34 columns, 10 unused by any query; 0 examples with missing columns
cre_Docs_and_Epenses: 84 examples, 23 columns, 2 unused by any query; 0 examples with missing columns
cre_Drama_Workshop_Groups: 82 examples, 100 columns, 64 unused by any query; 0 examples with missing columns
cre_Theme_park: 84 examples, 53 columns, 22 unused by any query; 0 examples with missing columns
csu_1: 70 examples, 24 columns, 6 unused by any query; 0 examples with missing columns
culture_company: 38 examples, 20 columns, 7 unused by any query; 0 examples with missing columns
customer_complaints: 46 examples, 32 columns, 8 unused by any query; 0 examples with missing columns
customer_deliveries: 16 examples, 52 columns, 34 unused by any query; 0 examples with missing columns
customers_and_addresses: 88 examples, 33 columns, 9 unused by any query; 0 examples with missing columns
customers_and_invoices: 82 examples, 57 columns, 28 unused by any query; 0 examples with missing columns
customers_and_products_contacts: 15 examples, 36 columns, 18 unused by any query; 0 examples with missing columns
customers_campaigns_ecommerce: 15 examples, 43 columns, 28 unused by any query; 1 examples with missing columns
======================
- Query: SELECT T1.customer_name FROM customers AS T1 JOIN customer_orders AS T2 ON T1.customer_id  =  T2.customer_id WHERE shipping_method_code  =  'FedEx' AND order_status_code  =  'Paid'
- Questions:
  - Show the names of customers having an order with shipping method FedEx and order status Paid .
- Missing columns: ['customer', 'orders'].['shipping', 'method', 'code']
customers_card_transactions: 80 examples, 28 columns, 9 unused by any query; 0 examples with missing columns
debate: 15 examples, 14 columns, 5 unused by any query; 1 examples with missing columns
======================
- Query: SELECT Name FROM people WHERE People_id NOT IN (SELECT Affirmative FROM debate_people)
- Questions:
  - List the names of people that have not been on the affirmative side of debates .
- Missing columns: ['people'].['people', 'id'], ['debate', 'people'].['affirmative']
decoration_competition: 15 examples, 13 columns, 3 unused by any query; 1 examples with missing columns
======================
- Query: SELECT Name FROM member WHERE Member_ID NOT IN (SELECT Member_ID FROM round)
- Questions:
  - List the names of members who did not participate in any round .
- Missing columns: ['member'].['member', 'id'], ['round'].['member', 'id']
department_management: 16 examples, 14 columns, 1 unused by any query; 1 examples with missing columns
======================
- Query: SELECT head_id ,  name FROM head WHERE name LIKE '%Ha%'
- Questions:
  - Which head 's name has the substring 'Ha ' ? List the id and name .
- Missing columns: ['head'].['head', 'id']
department_store: 88 examples, 57 columns, 19 unused by any query; 0 examples with missing columns
device: 40 examples, 15 columns, 3 unused by any query; 0 examples with missing columns
document_management: 44 examples, 32 columns, 14 unused by any query; 0 examples with missing columns
dorm_1: 100 examples, 20 columns, 5 unused by any query; 0 examples with missing columns
driving_school: 93 examples, 41 columns, 10 unused by any query; 0 examples with missing columns
e_government: 40 examples, 51 columns, 33 unused by any query; 0 examples with missing columns
e_learning: 82 examples, 33 columns, 11 unused by any query; 0 examples with missing columns
election: 68 examples, 20 columns, 5 unused by any query; 0 examples with missing columns
election_representative: 20 examples, 13 columns, 3 unused by any query; 0 examples with missing columns
entertainment_awards: 22 examples, 13 columns, 2 unused by any query; 0 examples with missing columns
entrepreneur: 40 examples, 11 columns, 1 unused by any query; 0 examples with missing columns
epinions_1: 30 examples, 13 columns, 1 unused by any query; 0 examples with missing columns
farm: 40 examples, 25 columns, 12 unused by any query; 0 examples with missing columns
film_rank: 48 examples, 16 columns, 3 unused by any query; 0 examples with missing columns
flight_1: 96 examples, 17 columns, 0 unused by any query; 0 examples with missing columns
flight_4: 82 examples, 25 columns, 12 unused by any query; 0 examples with missing columns
flight_company: 19 examples, 21 columns, 3 unused by any query; 0 examples with missing columns
formula_1: 80 examples, 95 columns, 65 unused by any query; 0 examples with missing columns
game_1: 86 examples, 20 columns, 1 unused by any query; 0 examples with missing columns
game_injury: 19 examples, 21 columns, 3 unused by any query; 0 examples with missing columns
gas_company: 46 examples, 19 columns, 3 unused by any query; 0 examples with missing columns
geo: 564 examples, 30 columns, 4 unused by any query; 0 examples with missing columns
gymnast: 40 examples, 14 columns, 6 unused by any query; 0 examples with missing columns
hospital_1: 100 examples, 69 columns, 32 unused by any query; 0 examples with missing columns
hr_1: 124 examples, 36 columns, 10 unused by any query; 0 examples with missing columns
icfp_1: 66 examples, 13 columns, 6 unused by any query; 0 examples with missing columns
imdb: 109 examples, 67 columns, 49 unused by any query; 0 examples with missing columns
inn_1: 74 examples, 17 columns, 1 unused by any query; 0 examples with missing columns
insurance_and_eClaims: 40 examples, 31 columns, 19 unused by any query; 0 examples with missing columns
insurance_fnol: 42 examples, 23 columns, 11 unused by any query; 0 examples with missing columns
insurance_policies: 48 examples, 26 columns, 10 unused by any query; 0 examples with missing columns
journal_committee: 18 examples, 11 columns, 2 unused by any query; 1 examples with missing columns
======================
- Query: SELECT avg(T1.sales) FROM journal AS T1 JOIN journal_committee AS T2 ON T1.journal_ID  =  T2.journal_ID WHERE T2.work_type  =  'Photo'
- Questions:
  - What is the average sales of the journals that have an editor whose work type is 'Photo ' ?
- Missing columns: ['journal', 'committee'].['work', 'type']
loan_1: 80 examples, 19 columns, 4 unused by any query; 0 examples with missing columns
local_govt_and_lot: 17 examples, 49 columns, 26 unused by any query; 0 examples with missing columns
local_govt_in_alabama: 15 examples, 11 columns, 1 unused by any query; 1 examples with missing columns
======================
- Query: SELECT count(DISTINCT participant_id) FROM participants_in_Events
- Questions:
  - What are all the distinct participant ids who attended any events ?
- Missing columns: ['participants', 'in', 'events'].['participant', 'id']
local_govt_mdm: 14 examples, 18 columns, 8 unused by any query; 0 examples with missing columns
machine_repair: 30 examples, 20 columns, 10 unused by any query; 0 examples with missing columns
manufactory_1: 80 examples, 10 columns, 1 unused by any query; 0 examples with missing columns
manufacturer: 16 examples, 13 columns, 1 unused by any query; 0 examples with missing columns
match_season: 58 examples, 22 columns, 7 unused by any query; 0 examples with missing columns
medicine_enzyme_interaction: 44 examples, 15 columns, 1 unused by any query; 0 examples with missing columns
mountain_photos: 17 examples, 17 columns, 1 unused by any query; 0 examples with missing columns
movie_1: 98 examples, 11 columns, 0 unused by any query; 0 examples with missing columns
music_1: 100 examples, 22 columns, 4 unused by any query; 0 examples with missing columns
music_2: 100 examples, 23 columns, 11 unused by any query; 0 examples with missing columns
music_4: 60 examples, 18 columns, 5 unused by any query; 0 examples with missing columns
musical: 40 examples, 14 columns, 2 unused by any query; 0 examples with missing columns
network_2: 86 examples, 9 columns, 0 unused by any query; 0 examples with missing columns
news_report: 18 examples, 14 columns, 2 unused by any query; 0 examples with missing columns
party_host: 30 examples, 14 columns, 3 unused by any query; 0 examples with missing columns
party_people: 44 examples, 21 columns, 8 unused by any query; 0 examples with missing columns
performance_attendance: 15 examples, 13 columns, 4 unused by any query; 1 examples with missing columns
======================
- Query: SELECT Name FROM member WHERE Member_ID NOT IN (SELECT Member_ID FROM member_attendance)
- Questions:
  - List the names of members who did not attend any performance .
- Missing columns: ['member'].['member', 'id'], ['member', 'attendance'].['member', 'id']
perpetrator: 21 examples, 14 columns, 2 unused by any query; 0 examples with missing columns
phone_1: 29 examples, 22 columns, 5 unused by any query; 0 examples with missing columns
phone_market: 15 examples, 14 columns, 3 unused by any query; 1 examples with missing columns
======================
- Query: SELECT Name FROM phone WHERE Phone_id NOT IN (SELECT Phone_ID FROM phone_market)
- Questions:
  - List the names of phones that are not on any market .
- Missing columns: ['phone'].['phone', 'id'], ['phone', 'market'].['phone', 'id']
pilot_record: 15 examples, 20 columns, 8 unused by any query; 1 examples with missing columns
======================
- Query: SELECT Pilot_name FROM pilot WHERE Pilot_ID NOT IN (SELECT Pilot_ID FROM pilot_record)
- Questions:
  - List the names of pilots that do not have any record .
- Missing columns: ['pilot'].['pilot', 'id'], ['pilot', 'record'].['pilot', 'id']
product_catalog: 42 examples, 30 columns, 9 unused by any query; 0 examples with missing columns
products_for_hire: 18 examples, 46 columns, 21 unused by any query; 0 examples with missing columns
products_gen_characteristics: 86 examples, 24 columns, 7 unused by any query; 0 examples with missing columns
program_share: 40 examples, 18 columns, 7 unused by any query; 0 examples with missing columns
protein_institute: 20 examples, 23 columns, 8 unused by any query; 1 examples with missing columns
======================
- Query: SELECT count(*) FROM institution WHERE institution_id NOT IN (SELECT institution_id FROM protein)
- Questions:
  - How many institutions do not have an associated protein in our record ?
- Missing columns: ['protein'].['institution', 'id']
race_track: 42 examples, 11 columns, 1 unused by any query; 0 examples with missing columns
railway: 21 examples, 23 columns, 9 unused by any query; 0 examples with missing columns
restaurant_1: 22 examples, 22 columns, 4 unused by any query; 1 examples with missing columns
======================
- Query: SELECT Student.Fname , Student.Lname FROM Student JOIN Visits_Restaurant ON Student.StuID = Visits_Restaurant.StuID GROUP BY Student.StuID ORDER BY count(*) DESC LIMIT 1;
- Questions:
  - Which student visited restaurant most often ? List student 's first name and last name .
- Missing columns: ['student'].['student', 'id']
restaurants: 125 examples, 13 columns, 2 unused by any query; 0 examples with missing columns
riding_club: 17 examples, 28 columns, 12 unused by any query; 1 examples with missing columns
======================
- Query: SELECT T1.club_id ,  T1.gold FROM match_result AS T1 JOIN coach AS T2 ON T1.club_id  =  T2.club_id GROUP BY T1.club_id ORDER BY count(*) DESC LIMIT 1
- Questions:
  - How many gold medals has the club with the most coaches won ?
- Missing columns: ['match', 'result'].['club', 'id'], ['match', 'result'].['gold']
roller_coaster: 17 examples, 15 columns, 2 unused by any query; 1 examples with missing columns
======================
- Query: SELECT T1.name ,  T1.area ,  T1.population FROM country AS T1 JOIN roller_coaster AS T2 ON T1.Country_ID  =  T2.Country_ID WHERE T2.speed  >  60 INTERSECT SELECT T1.name ,  T1.area ,  T1.population FROM country AS T1 JOIN roller_coaster AS T2 ON T1.Country_ID  =  T2.Country_ID WHERE T2.speed  <  55
- Questions:
  - What are the country names , area and population which has both roller coasters with speed higher
- Missing columns: ['country'].['area']
sakila_1: 82 examples, 90 columns, 50 unused by any query; 0 examples with missing columns
scholar: 569 examples, 26 columns, 3 unused by any query; 0 examples with missing columns
school_bus: 18 examples, 15 columns, 3 unused by any query; 0 examples with missing columns
school_finance: 26 examples, 20 columns, 4 unused by any query; 1 examples with missing columns
======================
- Query: SELECT T1.School_name ,  T1.Mascot ,  T1.IHSAA_Football_Class FROM school AS T1 JOIN budget AS T2 ON T1.school_id  =  T2.school_id WHERE Budgeted  >  6000 OR YEAR  <  2003 ORDER BY T2.total_budget_percent_invested ,  T2.total_budget_percent_budgeted
- Questions:
  - List the name , IHSAA Football Class , and Mascot of the schools that have more than 6000 of budgeted amount or were founded before 2003 , in the order of percent of total invested budget and total budgeted budget .
- Missing columns: ['school'].['ihsaa', 'football', 'class'], ['budget'].['total', 'budget', 'percent', 'budgeted'], ['budget'].['total', 'budget', 'percent', 'invested']
school_player: 40 examples, 27 columns, 14 unused by any query; 0 examples with missing columns
scientist_1: 48 examples, 8 columns, 0 unused by any query; 0 examples with missing columns
ship_1: 48 examples, 13 columns, 1 unused by any query; 0 examples with missing columns
ship_mission: 30 examples, 13 columns, 3 unused by any query; 0 examples with missing columns
shop_membership: 44 examples, 19 columns, 2 unused by any query; 0 examples with missing columns
small_bank_1: 50 examples, 7 columns, 2 unused by any query; 0 examples with missing columns
soccer_1: 14 examples, 87 columns, 73 unused by any query; 1 examples with missing columns
======================
- Query: SELECT DISTINCT T1.player_name ,  T1.birthday FROM Player AS T1 JOIN Player_Attributes AS T2 ON T1.player_api_id  =  T2.player_api_id ORDER BY potential DESC LIMIT 5
- Questions:
  - List the names and birthdays of the top five players in terms of potential .
- Missing columns: ['player', 'attributes'].['potential'], ['player'].['birthday']
soccer_2: 106 examples, 12 columns, 2 unused by any query; 0 examples with missing columns
solvency_ii: 15 examples, 33 columns, 27 unused by any query; 1 examples with missing columns
======================
- Query: SELECT Product_Name FROM Products WHERE Product_ID NOT IN (SELECT Product_ID FROM Products_in_Events)
- Questions:
  - List the names of products that are not in any event .
- Missing columns: ['products'].['product', 'id'], ['products', 'in', 'events'].['product', 'id']
sports_competition: 52 examples, 27 columns, 11 unused by any query; 0 examples with missing columns
station_weather: 16 examples, 20 columns, 2 unused by any query; 0 examples with missing columns
store_1: 112 examples, 67 columns, 28 unused by any query; 0 examples with missing columns
store_product: 44 examples, 23 columns, 11 unused by any query; 0 examples with missing columns
storm_record: 44 examples, 13 columns, 0 unused by any query; 0 examples with missing columns
student_1: 68 examples, 8 columns, 0 unused by any query; 0 examples with missing columns
student_assessment: 53 examples, 39 columns, 19 unused by any query; 0 examples with missing columns
swimming: 30 examples, 26 columns, 8 unused by any query; 0 examples with missing columns
theme_gallery: 40 examples, 14 columns, 2 unused by any query; 0 examples with missing columns
tracking_grants_for_research: 78 examples, 43 columns, 13 unused by any query; 0 examples with missing columns
tracking_orders: 60 examples, 28 columns, 8 unused by any query; 0 examples with missing columns
tracking_share_transactions: 41 examples, 21 columns, 6 unused by any query; 0 examples with missing columns
tracking_software_problems: 48 examples, 29 columns, 16 unused by any query; 0 examples with missing columns
train_station: 23 examples, 15 columns, 2 unused by any query; 1 examples with missing columns
======================
- Query: SELECT name ,  LOCATION FROM station ORDER BY Annual_entry_exit ,  Annual_interchanges
- Questions:

In [38]:
train_example = next(iter(train_data))

In [41]:
find_columns(grammar.parse(train_example.code, 'train'))

{0, 10}

In [45]:
train_example.orig['query']

'SELECT count(*) FROM head WHERE age  >  56'

'department_management'